<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bbs.css"/>
    <link rel="stylesheet" type="text/css" href="/editormd/editormd.css"/>
    <script type="application/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="/editormd/editormd.min.js"/>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.bundle.min.js"/>
    <script type="application/javascript" th:src="@{/js/bbs.js}"></script>
</head>
<body>
<!-- 引入顶部工具栏 -->
<div th:replace="/top::topBar"></div>
<div class="container main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2><span class="fa fa-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form th:action="@{/publish}" th:method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题...">
                </div>
                <div class="form-group" id="test-editor">
                    <label for="description">问题补充（必填，请参考右侧提示）</label>
                    <textarea class="form-control" th:text="${description}" id="description" name="description"
                              placeholder="问题补充..." style="display:none;"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("test-editor", {
                            width: "100%",
                            height: 300,
                            path: "/editormd/lib/",
                            imageUpload: true,          // Enable/disable upload
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",             // Upload url
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                           placeholder="输入标签，以，隔开" autocomplete="off" onfocus="focusTag()">
                </div>
                <div style="display: none" id="tagContainer">
                    <div class="container mt-3" style="padding-left: 0px">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" th:each="tags,tagsStat : ${cacheTags}">
                                <a th:class="${tagsStat.index == 0?'nav-link active':'nav-link'}" data-toggle="tab"
                                   th:href="'#'+${tags.categoryName}" th:text="${tags.categoryName}">开发语言</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div th:id="${tags.categoryName}"
                                 th:class="${tagsStat.index == 0 ? 'container tab-pane active':'container tab-pane'}"
                                 th:each="tags,tagsStat : ${cacheTags}"><br>
                                <span th:each="t : ${tags.tags}">
                                    <span class="badge badge-pill badge-info"><i class="fas fa-tags"
                                                                                 onclick="selectTag(this)"
                                                                                 th:data-tag="${t}" th:text="${t}"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <span class="alert alert-danger" th:text="${error}" th:if="${error!=null}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题：请用精简的语言描述您发布的问题，不超过25字<br>
            • 问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料<br>
            • 选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>